<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DLToolkit.Forms.Controls.FlowListView" version="2.0.4" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Microsoft.OData.Client" version="6.17.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Microsoft.OData.Core" version="6.17.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Microsoft.OData.Edm" version="6.17.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Microsoft.Spatial" version="6.17.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="PCLCrypto" version="2.0.147" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Simple.OData.V4.Client" version="5.0.0-alpha3" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Validation" version="2.4.15" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.Forms" version="2.3.4.247" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.Forms.CarouselView" version="2.3.0-pre2" targetFramework="portable45-net45+win8+wp8+wpa81" />
</packages>